@model Shopee_Management.Models.KHACHHANG


<div class="form-box register">
    <form action="">

        <h2>Đăng ký</h2>

        <div class="input-box">
            <span class="icon"><i class='bx bxs-user'></i></span>
            <input type="text" required>
            <label>Username</label>
        </div>
        <div class="input-box">
            <span class="icon"><i class='bx bxs-envelope'></i></span>
            <input type="email" required>
            <label>Email</label>
        </div>
        <div class="input-box">
            <span class="icon" onclick="togglePassword()"><i class='bx bxs-lock-alt' id="passwordIcon"></i></span>
            <input id="passwordInput" type="password" required>
            <label>Password</label>
        </div>
        <div class="remember-password">
            <label for=""><input type="checkbox">Tôi đồng ý</label>
        </div>
        <button class="btn">Đăng ký</button>
        <div class="create-account">
            <p>Đã có tài khoản? <a href="#" class="login-link">Đăng nhập</a></p>
        </div>
    </form>
</div>
